* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-weight: 4rem;
}
/* **********************************NAVBAR*********************************************** */
.navbarN {
  position: fixed;
  width: 100%;
  height: 4rem;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1rem;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  z-index: 2;
  background: rgba(255, 255, 255, 0.521);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbarN a {
  display: inline-block;
  color: rgb(104, 59, 0);
  text-decoration: none;
  z-index: 1;
  margin-left: 3rem;
}
.navbarN a:hover {
  color: brown;
  text-decoration: none;
}
.navbarN h1 {
  display: inline-block;
  padding: 0.2rem;
  color: chocolate;
  font-weight: 100;
}
/* ***************************************************CAROUSEL***********************************/
.carou {
  width: 100%;
  height: 50rem;
  overflow: hidden;
}
/* ********************************SECOND PAGE************************************************** */
.secPage {
  width: 100%;
  height: 58rem;
  background-color: rgb(248, 234, 218);
}
.secPage img {
  width: 45rem;
  height: 40rem;
  position: relative;
  left: 8rem;
  top: 8rem;
  bottom: 6rem;
}
.RestInfo {
  color: rgba(143, 0, 0, 0.856);
  text-align: center;
  width: 45rem;
  height: 40rem;
  background-color: rgb(194, 167, 132);
  position: relative;
  left: 50rem;
  bottom: 29rem;
  padding-top: 11rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.secPagetwo {
  width: 100%;
  height: 58rem;
  background-color: rgb(248, 234, 218);
}
.secPagetwo img {
  width: 45rem;
  height: 40rem;
  position: relative;
  top: 8rem;
  bottom: 6rem;
  left: 50rem;
}
.RestInfotwo {
  width: 45rem;
  height: 40rem;
  background-color: rgb(145, 90, 48);
  text-align: center;
  position: relative;
  left: 8rem;
  bottom: 29rem;
  color: aliceblue;
  padding-top: 11rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.RestInfotwo p {
  font-size: 1.25rem;
}

.RestInfo p {
  font-size: 1.25rem;
}
/* *********PATIO DESCRIPTION************** */
.patDesc {
  background-image: url(DescImages/patio.jpg);
  background-position: center;
  background-size: 100%;
  text-align: center;

  width: 100%;
  height: 52rem;
}
.patTitle {
  position: relative;
  top: 4rem;
  font-weight: bolder;
}
/* ******************************HOME LASTPAGE******************************************** */
.homeEnd {
  width: 100%;
  height: 10rem;
  background-color: blanchedalmond;
  text-align: center;
}
.homeEnd h4 {
  position: relative;
  top: 2rem;
}
/* ********************NAVIG - BAR********************* */
.barImage {
  background-image: url(NavPageImages/bar.jpg);
  width: 100%;
  height: 52rem;
  background-position: center;
  background-size: contain;
}
.menuImage {
  background-image: url(NavPageImages/menu.jpg);
  width: 100%;
  height: 52rem;
  background-position: center;
  background-size: cover;
}
.teamImage {
  background-image: url(NavPageImages/team.jpg);
  width: 100%;
  height: 52rem;
  background-position: center;
  background-size: cover;
}
.reserImage {
  background-color: rgb(194, 167, 132);
  width: 100%;
  height: 7rem;
}
/* *********************************BAR************************************** */
.pageTitle {
  text-align: center;
  color: white;
  font-size: 6rem;
  font-weight: lighter;
  position: relative;
  bottom: 32rem;
}
.reserTitle {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: lighter;
  position: relative;
  bottom: 5.75rem;
}

/* *********************************RESERVATIONS********************************* */
.closeReser {
  text-align: center;
  color: white;
  font-size: 2rem;
  position: relative;
  bottom: 9.75rem;
  left: 98rem;
  border: 3px solid white;
  width: 3rem;
}
.closeReser a {
  color: white;
}
.closeReser a:hover {
  color: rgb(210, 230, 248);
  border-color: rgb(210, 230, 248);
  text-decoration: none;
}

.reserForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 1.25rem;
  margin-left: 30%;
}
.reserForm input {
  color: rgb(194, 167, 132);
  box-sizing: border-box;
  border: 2px solid rgb(194, 167, 132);
  border-radius: 5px;
  padding: 0.25rem;
}
.reserForm select {
  color: rgb(194, 167, 132);
  box-sizing: border-box;
  border: 2px solid rgb(194, 167, 132);
  border-radius: 5px;
  padding: 0.25rem;
}
.reserSubmit {
  box-shadow: 0px 10px 14px -7px #dbae77;
  background: linear-gradient(to bottom, #c2a784 5%, #cc9c66 100%);
  background-color: #c2a784;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 24px;
  font-weight: normal;
  padding: 10px 48px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #c4a27c;
  margin-top: 2rem;
  text-align: center;
}
.reserSubmit:hover {
  background: linear-gradient(to bottom, #cc9c66 5%, #c2a784 100%);
  background-color: #cc9c66;
  text-decoration: none;
  color: #ffffff;
}
.reserSubmit:active {
  position: relative;
  top: 1px;
  text-decoration: none;
}
.error {
  color: red;
  font-size: 1rem;
}
